on:
  push:
    branches:
    - main
jobs:
  compile:
    name: Compile using packwiz
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.2
    - name: Setup Go environment
      uses: actions/setup-go@v4.0.1
      with:
        go-version: 1.19
    - name: Install packwiz
      run: go install github.com/packwiz/packwiz@latest
    - name: Update mods to latest
      run: packwiz update --all -y
    - name: Compile packs
      run: |
        packwiz mr export
        packwiz cf export
    - name: Upload Modrinth Build
      uses: actions/upload-artifact@v3.1.2
      with:
        name: Redstoners-modrinth
        path: Redstoners-1.0.0.mrpack
    - name: Upload CurseForge Build
      uses: actions/upload-artifact@v3.1.2
      with:
        name: Redstoners-curseforge
        path: Redstoners-1.0.0.zip
